mixin select(id, label, check)
  .ml10
    input(id=id type="checkbox" checked=check)
    label(for=id)= label

mixin input(id, label, def, className)
  span.name(class=[className])= label
  input.w60(id=id value=def)

#linear.tool
  .tool-title Linear manipulation
  .info This tool will provide some linear manipulation of tracked coordinates. You can move the whole group of points with by an X and Y offset. You can change its amplitude in both axis towards its center by adjusting its gain. You can also flip the coordinates in X and Y. And finally you can revert the sequence of points.
  .group
    .mb10
      | Operation
      +select('linearFlipX', 'Flip X')
      +select('linearFlipY', 'Flip Y')
      +select('linearReverse', 'Reverse')
    .mb10
      +input('linearGainTime', 'Gain Time', 1)
      +input('linearGainX',    'Gain X',    1, 'ml10')
      +input('linearGainY',    'Gain Y',    1, 'ml10')
    .mb10
      +input('linearOffsetTime', 'Offset Time', 0)
      +input('linearOffsetX',    'Offset X',    0, 'ml10')
      +input('linearOffsetY',    'Offset Y',    0, 'ml10')

    .flex.mb10
      textarea#linearPoints(rows="3" placeholder="Paste original points here...")
      textarea#linearPointsOut(readonly rows="3" placeholder="Output")

    div
      button(onclick="linearRun()") Process
      span.ml10
        input#linearCopy(type="checkbox" checked)
        label(for="linearCopy") Copy result to clipboard
