#shake.tool
  .tool-title Shaker
  .info This will create some fake hand shake movement

  .group
    .mb10
      span.name Template
      select#shakerTemplate(value="Normal" onchange="shakerSetTemplate()")
        each o in ['Light', 'Normal', 'Parkinson']
          option(value=o) #{o}

    - var parameters = ['Peak', 'Freq', 'Noise']
    table.mb10
      tr
        th
        each p in parameters
          td #{p}
      each r in [1, 2, 3]
        tr
          td #{r}
          each p in parameters
            td
              input(id=`shaker${r}_${p}`)

    .important sorry..... work in progress
    //- div
      button(onclick="shakerRun()") Process
      snap.important.ml10 Result will be copied to your clipboard after processing
