#shake.tool
  .tool-title Shaker
  .info This will create some fake hand shake movement

  .group
    .mb10
      span.name Template
      select#shakeTemplate(value="Normal" onchange="shakeSetTemplate()")
        each o in ['Light', 'Normal', 'Parkinson']
          option(value=o) #{o}

    - var parameters = ['Peak', 'Freq', 'Noise']
    table.mb10.input-table
      tr
        th
        each p in parameters
          td #{p}
      each r in [1, 2, 3]
        tr
          td #{r}
          each p in parameters
            td
              input(id=`shake${r}_${p}`)

    .mb10
      textarea#linearPointsOut(readonly rows="3" placeholder="Output")

    div
      button(onclick="shakeRun()") Process
      span.ml10
        input#shakeCopy(type="checkbox" checked)
        label(for="shakeCopy") Copy result to clipboard
